<%
const//imports
FlatDB = $.get('FlatDB');
//---
const//globals
Games = $.get('Games'),
baseUrl = $.get('baseUrl'),
obfuscator = $.get('javascript-obfuscator'),
fs = $.get('fs');
game = $.get('game');
%>
    <%//https://stackoverflow.com/a/4403189
   String.prototype.minify=function(){var e=this;return e=(e=(e=(e=(e=(e=e.replace(/\/\*(?:(?!\*\/)[\s\S])*\*\/|[\r\n\t]+/g,""))
   .replace(/ {2,}/g," ")).replace(/ ([{:}]) /g,"$1")).replace(/([;,]) /g,"$1")).replace(/([{:}]) /g,"$1")).replace(/ !/g,"!")};
   %>
        <!-- Fallback f체r IE -->
        <%- include(process.env.PWD + '/fallback/_html.ejs').minify() %>

            <head>
                <%- include(process.env.PWD + '/templates/meta.ejs').minify() %>
                    <title> ZNW&nbsp;&rsaquo;&nbsp;About </title>
                    <meta name="description" content="Information about the Zircon Network">
                    <style>
                        <%const env=process.env.PWD+"/assets/css/";
                        ['cookieconsent.min.css', //Cookie-Best채tigung
                        'bootstrap.min.css', //Bootstrap
                        'bootflat.min.css', //Bootstrap theme
                        'style.css', //custom style 
                        'nprogress.css'
                        ].forEach(function(style) {
                            %><%-include(env + style).minify();
                            %><%
                        }

                        );
                        %>
                    </style>
                    <!-- Fallback assets f체r IE -->
                    <%- include(process.env.PWD + '/fallback/_assets.ejs').minify() %>
            </head>

            <body id="barba-wrapper">
                <form class="barba-container" method="get" target="_self" onsubmit="if(typeof window.ie!=='undefined'&&window.ie){_sF();return!1}" )>
                    <!-- top navbar -->
                    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top shadow" role="navigation">
                        <div class="container-fluid">
                            <div class="navbar-header pull-left"> <a href="./" class="btn-link navbar-brand">Zircon Network</a></div>
                            <div class="navbar-right pull-right"> <button type="submit" class="btn-link navbar-brand" formaction="/live">Backend</button> </div>
                        </div>
                    </div>
                    <div class="container">

                            <!-- sidebar -->
                            <div id="sidebar" role="navigation">
                                <ul class="nav" id="sidebar-nav">
                                    <li><span class="list-item">Games:</span></li>
                                    <%-include(process.env.PWD + '/templates/games.ejs').minify();%>
                                </ul>
                            </div>
                            <!-- main area -->
                            <div id="main">
                                <h1 id="section1">What is the <i>Zircon Network</i>?</h1> <br/>
                                <p>The Zircon Network&trade; is a non-profit gameserver Network & multigaming community for players around the globe.</p><br/>
                                <p>We strive for simplicity and unique experiences.</p> <br/>
                                <p>We try to offer our services automated, free and fast.</p>
                            </div>
                            <!-- /.col-xs-12 main -->
                     
                      <%- include(process.env.PWD + '/templates/footer.ejs'); %>
                    </div>
                   
                    <!--/.container-->
                   
                        <script type="text/javascript" charset="UTF-8">
                            <%(function(){
          const dir = process.env.PWD + "/assets/js/";
         ['jQuery.js-min',//jQuery
             'browserdetect.js-min',
             'cookieconsent.js-min', //Cookie-Best채tigung
             'client.js-min',
             'manifesto.js-min', //offlinemanifest
             'stay-standalone.js-min',
             'scrollbar.js-min',
             'nprogress.js-min',
             'instantclick.js-min'
         ].forEach(function(script){%>
                            <%- include(dir + script).minify().minify();%>
                            <%})})();%>
                        </script>
                  <noscript><%- include(process.env.PWD + '/fallback/matomo.ejs').minify() %></noscript> </form>
            </body>

            </html>